.grid {
  display: grid;
  grid-auto-rows: 300px;
  gap: 1rem;
  grid-template-columns: 4fr 3fr;
  grid-template-rows: 1fr 1fr;
}

.grid > :first-child {
  grid-row: 1 / -1;
  font-size: 1.2em;
}

.flex {
  --items-on-row: 3;

  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.flex > * {
  width: calc((100% - (var(--items-on-row) - 1) * 1rem) / var(--items-on-row));
}

.blog-post {
  --border-radius: 10px;

  position: relative;
}

.blog-post img {
  border-radius: var(--border-radius);
  display: block;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.blog-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000cc;
  padding: 1rem;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.blog-text h4 {
  font-weight: 500;
  color: var(--yellow);
  font-family: "Combo", cursive;
  font-style: italic;
  font-size: 1.1em;
  text-transform: capitalize;
}

.blog-text h1 {
  font-weight: 500;
  font-family: "Teko", sans-serif;
  font-size: 2em;
  line-height: 1em;
  text-transform: uppercase;
}

.blog-info {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 0.5rem;
}

.blog-info p:first-of-type::before {
  content: "By ";
  color: var(--yellow);
  font-family: "Combo", cursive;
  font-size: 1.1em;
}

.blog-info .line {
  border-left: 2px solid var(--yellow);
  height: 1.2em;
}
