@import url("https://fonts.googleapis.com/css2?family=Combo&family=Roboto&family=Teko&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button,
input {
  border: none;
  outline: none;
  color: inherit;
  background-color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}

:root {
  --main-bg: black;
  --main-col: #e5e5e5;
  --secondary-bg: #313131;
  --secondary-col: #afafaf;
  --yellow: #ffc124;

  --header-height: 10vh;
  --std-width: 65vw;

  font-family: "Roboto", sans-serif;
  background-color: var(--main-bg);
  color: var(--main-col);
}

.section-center {
  width: var(--std-width);
  margin: 0 auto;
}

header {
  background-color: var(--main-bg);
  min-height: fit-content;
  height: var(--header-height);
  padding: 1.5rem 0;
  margin-bottom: 5px;
  font-size: 1.2em;
  font-family: "Combo", cursive;
  z-index: 1;
}

header div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

#logo,
.links {
  cursor: pointer;
}

header img {
  min-height: 2em;
  height: 80%;
}

header .links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 2em;
}

header .links a {
  margin-bottom: 0.5rem;
}

header .links a::after {
  display: block;
  content: "";
  background-color: var(--main-col);
  height: 2px;
  width: 0;
  transition: width 300ms ease-in-out;
}

header .links a:hover::after {
  width: 100%;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  color: var(--yellow);
  gap: 0.5rem;
}

.socials > * {
  border: 1px solid var(--yellow);
  width: 1.7em;
  height: 1.7em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2em;
  transition-property: background-color color;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  border-radius: 5px;
}

.socials > :hover {
  color: black;
  background-color: var(--yellow);
}

footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 2rem 0;
}

footer > div > :first-child {
  margin-bottom: 1rem;
}

footer h1 {
  font-size: 1.8rem;
  font-family: "Teko", sans-serif;
  letter-spacing: 2px;
}

footer img {
  height: 2rem;
}

.info {
  color: var(--secondary-col);
  opacity: 0.8;
  margin-bottom: 1.5rem;
}

footer .socials {
  justify-content: left;
  font-size: 1.2em;
}

footer .links {
  color: var(--secondary-col);
  font-size: 1.2em;
}

footer .links li {
  width: fit-content;
  margin-bottom: 0.5rem;
}

footer .links a {
  margin-bottom: 0.5rem;
  border-bottom: 2px solid #00000000;

  transition-property: border-color color;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

footer .links a:hover {
  color: var(--yellow);
  border-color: var(--yellow);
}

.contacts li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.8rem;
}

.contacts svg {
  color: var(--yellow);
}

footer form > * {
  display: block;
  width: 100%;
  font-size: 1.2em;
}

footer input {
  background-color: var(--secondary-bg);
  padding: 0.5rem;
  padding-left: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.btn {
  display: block;
  color: var(--yellow);
  border: 2px solid var(--yellow);
  border-radius: 5px;
  padding: 1rem;

  transition-property: background-color color;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

.btn:hover {
  color: var(--main-bg);
  background-color: var(--yellow);
}

header {
  position: sticky;
  top: 0;
}

header:has(~ footer.show) {
  top: -100%;
  transition: top 300ms ease-in-out;
}

main > h1:first-child {
  width: 100%;
  text-align: center;
  background-color: var(--yellow);
  color: black;
  font-family: "Teko", sans-serif;
  font-size: 4em;
  font-weight: normal;
}

.spacer {
  margin: 5rem;
}

.about {
  display: flex;
  flex-direction: row;
}

.about > * {
  width: 50%;
}

.about div {
  padding: 5rem 0;
  background-color: var(--card-color);
}

.text-wrapper {
  width: 60%;
  margin: 0 auto;
}

.about h4 {
  font-size: 1.5em;
  font-weight: 500;
  color: var(--yellow);
  font-family: "Combo", cursive;
}

.about h1 {
  font-weight: 600;
  font-family: "Teko", sans-serif;
  font-size: 3.5em;
  letter-spacing: 4px;
}

.about p {
  padding: 2rem 0;
}

.about p:first-of-type {
  color: var(--secondary-col);
  font-weight: 500;
  font-size: 1.5em;
}

.about p:last-of-type {
  color: var(--secondary-col);
  opacity: 0.7;
  font-size: 1.2em;
}

.about img {
  object-fit: cover;
}
