:root {
  --card-color: #141414;
}

.hero {
  width: 100%;
  height: calc(100vh - var(--header-height));
  display: grid;
  color: white;
  z-index: 0;
  overflow: hidden;
  position: relative;
}

.hero > * {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.hero video {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero-overlay {
  background-color: black;
  opacity: 0.6;
  z-index: 0;
}

.hero-text {
  font-size: 2em;
  line-height: 2.25em;
  position: absolute;
  left: 72%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
}

.hero-text h1 {
  font-family: "Teko", sans-serif;
  font-size: 4em;
  line-height: 0.8em;
  letter-spacing: 10px;
  font-weight: 600;
  color: var(--yellow);
}

.hero-text h5 {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  font-size: 1.2em;
  line-height: 1.2em;
  font-weight: 500;
}

.hero-text p {
  font-family: "Combo", cursive;
  font-style: italic;
}

.menu > * {
  width: 100%;
  margin-bottom: 6rem;
}

.menu-title {
  margin: 5rem 0;
  text-align: center;
}

.menu-title h1 {
  font-size: 3rem;
  font-family: "Combo", cursive;
  color: var(--yellow);
}

.menu-title h4 {
  font-size: 1.2em;
  font-weight: normal;
}

.menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu li {
  width: calc((100% - 5rem) / 3);
  position: relative;
  text-shadow: 0 0 5px black;
}

.menu-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: 75%;
  font-size: 1.2em;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.menu-text ~ img {
  width: 100%;
  aspect-ratio: 1 / 1.3;
  object-fit: cover;
  border-radius: 15px;
  filter: brightness(80%);
  transition: filter 300ms ease-in-out;
}

.menu li:hover .menu-text {
  opacity: 1;
}

.menu li:hover img {
  filter: brightness(35%);
}

.menu-text ~ h2 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-family: "Teko", sans-serif;
  letter-spacing: 2px;
  font-size: 2.5em;
}

.offers {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 5rem;
}

.offers-text {
  font-size: 1.2em;
}

.offers-text > :not(:first-child, :last-child) {
  margin-bottom: 1rem;
}

.offers-text h4 {
  font-size: 1.2em;
  font-family: "Combo", cursive;
  color: var(--yellow);
}

.offers-text h1 {
  margin-top: 0.5rem;
  font-family: "Teko", sans-serif;
  font-size: 3em;
  font-weight: 500;
  line-height: 1.1em;
}

.offers-text h1 span {
  color: var(--yellow);
}

.offers-text .btn {
  width: 60%;
  margin: 0 auto;
}

.offers-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
}

.offers-info > div {
  display: flex;
}

.offers-info img {
  height: 100px;
  aspect-ratio: 1;
}

.offers-info h2 {
  font-family: "Teko", sans-serif;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 2em;
}

.about .btn {
  margin-top: 0.5rem;
  font-size: 1.3em;
}

.testimonials {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.testimonials h4 {
  font-weight: 500;
  color: var(--yellow);
  font-family: "Combo", cursive;
  font-size: 1.5em;
  margin-bottom: 0.5rem;
}

.testimonials h1 {
  font-weight: 600;
  font-family: "Teko", sans-serif;
  font-size: 3.5em;
  line-height: 1.2em;
  letter-spacing: 4px;
  margin-bottom: 1rem;
}

.testimonials h1 span {
  color: var(--yellow);
}

.testimonials-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.testimonial-card {
  background-color: var(--card-color);
  padding: 2rem;
  border-radius: 10px;
}

.testimonial-card img {
  width: 150px;
  aspect-ratio: 1;
  border-radius: 50%;
}

.testimonial-card h3 {
  margin: 0.5em 0;
  font-size: 2.5em;
  font-family: "Teko", sans-serif;
  letter-spacing: 2px;
}

.testimonial-card p:first-of-type {
  width: 80%;
  margin: 0 auto 1.5rem auto;
  color: var(--secondary-col);
  font-size: 1.1em;
}

.testimonial-card p:last-of-type {
  color: var(--yellow);
  font-weight: 600;
  font-size: 1.3em;
  font-family: "Combo", cursive;
  font-style: italic;
}

.brands {
  background-color: var(--yellow);
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  gap: 0.5rem;
}

.brands > div {
  height: 100%;
  background-color: rgba(17, 17, 17, 0.1);
  width: 250px;
  position: relative;
  border-radius: 5px;
}

.brands img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 75%;
}
