@import url("https://fonts.googleapis.com/css2?family=Combo&family=Roboto&family=Teko&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button,
input {
  border: none;
  outline: none;
  color: inherit;
  background-color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}

:root {
  --main-bg: black;
  --main-col: #e5e5e5;
  --secondary-bg: #313131;
  --secondary-col: #afafaf;
  --yellow: #ffc124;

  --header-height: 10vh;

  font-family: "Roboto", sans-serif;
}

.full-bleed {
  box-shadow: 0 0 0 100vmax var(--bg-col);
  clip-path: inset(0 -100vmax);
}

header {
  background-color: var(--main-bg);
  color: var(--main-col);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  min-height: fit-content;
  height: var(--header-height);
  padding: 1.5rem 0;
  font-size: 1.2em;
  font-family: "Combo", cursive;
  z-index: 1;
}

header img {
  min-height: 2em;
  height: 80%;
}

header .links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 2em;
}

header .links a {
  margin-bottom: 0.5rem;
}

header .links a::after {
  display: block;
  content: "";
  background-color: var(--main-col);
  height: 2px;
  width: 0;
  transition: width 300ms ease-in-out;
}

header .links a:hover::after {
  width: 100%;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  color: var(--yellow);
  gap: 0.5rem;
}

.socials > * {
  border: 1px solid var(--yellow);
  width: 1.5em;
  height: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2em;
  transition-property: background-color color;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

.socials > *:hover {
  color: black;
  background-color: var(--yellow);
}

footer {
  --bg-col: var(--main-bg);

  background-color: var(--bg-col);
  color: var(--main-col);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 2rem;
  width: 65%;
  margin: 0 auto;
}

footer > div > *:first-child {
  margin-bottom: 1rem;
}

footer h1 {
  font-size: 1.8rem;
  font-family: "Teko", sans-serif;
  letter-spacing: 2px;
}

footer img {
  height: 2rem;
}

.info {
  color: var(--secondary-col);
  opacity: 0.8;
  margin-bottom: 1.5rem;
}

footer .socials {
  justify-content: left;
  font-size: 1.2em;
}

footer .links {
  color: var(--secondary-col);

  font-size: 1.2em;
}

footer .links li {
  width: fit-content;
  margin-bottom: 0.5rem;
}

footer .links a {
  margin-bottom: 0.5rem;
  border-bottom: 2px solid #00000000;

  transition-property: border-color color;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

footer .links a:hover {
  color: var(--yellow);
  border-color: var(--yellow);
}

.contacts li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.8rem;
}

.contacts svg {
  color: var(--yellow);
}

footer form > * {
  display: block;
  width: 100%;
  font-size: 1.2em;
}

footer input {
  background-color: var(--secondary-bg);
  padding: 0.5rem;
  padding-left: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

footer button {
  color: var(--yellow);
  border: 2px solid var(--yellow);
  border-radius: 5px;
  padding: 1rem;

  transition-property: background-color color;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

footer button:hover {
  color: var(--main-bg);
  background-color: var(--yellow);
}

header {
  position: sticky;
  top: 0;
  transition: opacity 300ms ease-in-out;
  opacity: 1;
}

header:has(~ footer.show) {
  opacity: 0;
  pointer-events: none;
}
