@import url("https://fonts.googleapis.com/css2?family=Combo&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

:root {
  --main-bg: black;
  --main-col: #e5e5e5;
  --yellow: #ffc123;
}

header {
  background-color: var(--main-bg);
  color: var(--main-col);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  min-height: fit-content;
  height: 10vh;
  padding: 1.5rem 0;
  font-size: 1.2em;
  font-family: "Combo", cursive;
}

header img {
  min-height: 2em;
  height: 80%;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 2em;
}

.links a {
  margin-bottom: 0.5rem;
}

.links a::after {
  display: block;
  content: "";
  background-color: var(--main-col);
  height: 2px;
  width: 0;
  transition: width 300ms ease-in-out;
}

.links a:hover::after {
  width: 100%;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  color: var(--yellow);
  gap: 0.5rem;
}

.socials > * {
  border: 1px solid var(--yellow);
  width: 1.5em;
  height: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem;
  transition-property: background-color color;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

.socials > *:hover {
  color: black;
  background-color: var(--yellow);
}

footer {
  background-color: var(--main-bg);
  color: var(--main-col);
}

.contacts i {
  color: var(--yellow);
}
