*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

header {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  min-height: fit-content;
  height: 10vh;
  padding: 1rem;
  font-size: 1.2em;
}

header > *:not(:first-child) {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

header img {
  height: 80%;
}

.links {
  gap: 2em;
}

.links a {
  text-decoration: none;
  color: inherit;
  margin-bottom: 0.5rem;
}

.links a::after {
  display: block;
  content: "";
  background-color: white;
  height: 2px;
  width: 0;
  transition: width 300ms ease-in-out;
}

.links a:hover::after {
  width: 100%;
}

.contacts {
  color: #ffc123;
  gap: 0.5rem;
}

.contacts > * {
  border: 1px solid #ffc123;
  width: 1.5em;
  height: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem;
  transition-property: background-color color;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

.contacts > *:hover {
  color: black;
  background-color: #ffc123;
}
